.git
.gitignore
.env
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
README.md
.github/
*.md
.pytest_cache
.coverage
htmlcov/
.mypy_cache
.tox
build/
dist/
*.egg-info/
build_info.py 